{{> navbar-home}}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('assets/img/examples/bg2.jpg');">
</div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-3">
          <div class="card card-nav-tabs trip-schedule">
            <h4 class="card-header card-header-info text-center">Thông Tin Mua Vé</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="title text-center">Thông tin khách hàng</h3>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Họ tên:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">Nguyễn Minh Long</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Số điện thoại:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">0909666999</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Email:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">minhlong@gmail.com</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="title text-center">Thông tin vé</h3>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Tuyến xe:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">Hải Phòng > Hà Nội</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Thời gian:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">18:00 - 08/09/2020</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Điểm Đón:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">Bến xe Lạc Long</span>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <span class="text-muted">Điểm trả:</span>
                          </div>
                          <div class="col-md-8">
                            <span class="font-weight-bold">Bến xe Nước Ngầm</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Số lượng ghế:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">02</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Số ghế:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">A01, A02</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="text-muted">Thành tiền:</span>
                      </div>
                      <div class="col-md-8">
                        <span class="font-weight-bold">155.000 đồng</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-3">
          <div class="card card-nav-tabs trip-schedule">
            <h4 class="card-header card-header-info text-center">Chọn Phương Thức Thanh Toán</h4>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <button class="btn btn-primary btn-lg payment-inter">
                    <i class="fa fa-cc-visa px-2"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-jcb px-2"></i>
                    <p class="pt-4">Thẻ Quốc Tế</p>
                  </button>
                </div>
                <div class="col-md-4 text-center">
                  <button class="btn btn-primary btn-lg payment-inter">
                    <i class="fa fa-credit-card px-2"></i>
                    <p class="pt-4">Thẻ ATM Nội Địa</p>
                  </button>
                </div>
                <div class="col-md-4 text-center">
                  <button class="btn btn-primary btn-lg payment-inter">
                    <i class="fa fa-money px-2"></i>
                    <p class="pt-4">COD Tiền Mặt</p>
                  </button>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-left my-3">
          <a class="btn btn-info" href="#">Quay Lại</a>
        </div>
        <div class="col-md-6 text-right my-3">
          <button class="btn btn-info">Thanh Toán</button>
        </div>
      </div>
    </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <div class="copyright text-center">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="#" target="_blank">VeXe.Online</a>
    </div>
  </div>
</footer>